body {
  min-width: 320px;
  margin: 0 auto;
  height: auto;
  background-image: url(./images/background.jpg);
  background-size: cover;
}

.input {
  display: block;
  width: 150px;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 20px;
}

.main {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  margin-top: 20px;
  justify-items: center;
}

.main:last-child {
  column-gap: 0;
}

.i1 {
  width: 150px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}



img {
  max-height: 200px;
  min-width: 150px;
  display: block;
  object-fit: contain;
  box-sizing: border-box;
  opacity: 1;
  
  animation: fadeInFromNone 2s ease-in-out;
}

@media (min-width: 768px) {
  .i1 {
    width: 300px;
  }

  img {
    max-height: 400px;
    min-width: 300px;
  }

  .main {
    padding: 0 80px;
  }
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

.hidden {
  display: none;
}